<%- include("template/cabecera",{tituloWeb: 'Detalle de mascota'}) %>

<div class="container ">
    <h1>Detalle de Mascota</h1>

   <% if (error) { %>
    <p> 
      <%= mensaje %>
    </p>
     <a href="/mascotas" class="btn btn-dark d-md-block">Volver a Mascotas</a>
   <% } %>

   <% if (!error) { %>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>                  
           <th scope="row"><%= mascota.id %></th>
            <td><%= mascota.nombre %></td>
            <td><%= mascota.descripcion %></td>
            <td>Button</td>
          </tr>
        </tbody>
      </table>
   <% } %>

</div>  
    <%- include("template/footer") %>